
.edit_link{
  position: fixed;
  margin-left: 5px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: white;
  padding: 5px;
  z-index: 1000;
  opacity: .3;
  transition: all .2s ease;
  margin-top: 10px;
}
.edit_link a{
  margin-left: 1em;
  text-transform: uppercase;
}
.edit_link:hover{
  opacity: 1;
}
.container-fluid {
  max-width: 70em;
  width: 90%;
}

.main_nav {
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  margin-bottom: 0;
  min-height: 60px;
  padding-top: 7px;
}
.main_nav img {
  height: 35px;
  margin-top: -9px;
}

.main_header {
  background: rgba(40, 50, 60, 0.45);
  margin-bottom: 0;
  position: relative;
}
.main_header .logo {
  text-indent: -10000px;
  overflow: hidden;
  margin-top: 30px;
  max-width: 80%;
  height: 125px;
  background: url("../img/GCB_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.blurb {
  text-align: center;
  color: white;
  margin: 25px auto;
  width: 85%;
  max-width: 25em;
  font-weight: 400;
  font-size: 1.2em;
}

.feat_image {
  height: 350px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  position: relative;
}
.feat_image.frontpage {
  height: auto;
}

.page_header {
  margin-bottom: 0;
  padding: 20px 0;
  background: none;
  color: white;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page_header:after {
  content: "";
  background: #fff;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.page_header h1 {
  font-size: 3em;
  color: #212121;
  font-weight: 600;
}

.main_content,
.page_content {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.5;
}
.main_content h1,
.page_content h1 {
  text-transform: uppercase;
  font-size: 2em;
}
.main_content h2,
.page_content h2 {
  font-weight: 600;
  /*border-bottom: 1px solid #d5d5d5;*/
  padding-bottom: 10px;
}
.main_content h3,
.page_content h3 {
  font-weight: 600;
  text-transform: uppercase;
}
.main_content .icon,
.page_content .icon {
  height: 80px;
  opacity: 0.7;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.main_footer {
  padding: 100px 0;
  margin-bottom: 0;
  position: relative;
  background: rgba(40, 40, 40, 0.85);
}
.main_footer:after {
  content: "";
  background: url("../img/bg_4.jpg") no-repeat center center;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.main_footer .row {
  margin: 0 auto;
  color: white;
}
.main_footer .row h3 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #3e9638;
}
.main_footer .row a {
  color: inherit;
}
.main_footer .row a:hover, .main_footer .row a:active, .main_footer .row a:focus {
  color: inherit;
  text-decoration: underline;
  background: none;
}
.main_footer .footer_nav {
  font-size: 21px;
  line-height: 1em;
}
.main_footer .footer_nav a {
  padding-left: 0;
  color: inherit;
  font-weight: 100;
}
.main_footer .footer_copyright {
  font-size: 1.1em;
  color: #eeeeee;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}
.main_footer .footer_copyright a {
  color: inherit;
}
.main_footer .footer_copyright .footer_logo img {
  opacity: 0.8;
  width: 10em;
  margin-bottom: 1.5em;
  margin-left: -3px;
}
.main_footer .footer_copyright .footer_logo img:hover {
  opacity: 1;
}

.contact_us h3 {
  text-transform: uppercase;
}

.wpcf7-form textarea {
  resize: none;
}
.wpcf7-form label {
  font-weight: 400;
}

.contact_aside p {
  font-size: 1.3em;
  font-weight: 300;
}

.rightcol {
	border-left: 5px solid #3e9638;
  background-color: #ebebeb;
  /*color: #fff;*/
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(21,21,21,.1);
  border-right: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  max-width: 500px;
}
.tab-section{
  padding-right: 40px;
}
.rightcol dl{
  margin-bottom: 0;
}
.sidebar-details{
  margin-top:0 !important;
}

.tribe-register{
  margin: 20px 0;
}
.tribe-events-meta-group.tribe-events-meta-group-venue,
.tribe-events-meta-group.tribe-events-meta-group-gmap{
  width: 100% !important;
}

.tribe-events-meta-group{
  padding: 0 !important;
  margin: 20px auto !important;
}

.rightcol h3:first-of-type{
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid #bebebe;
  margin-bottom:  24px;
  margin-top: 4px;
  }
@media screen and (max-width: 845px){
  .rightcol{
    margin: 50px auto;
  }
  .tab-section{
    padding-right:0;
  }
}
.tribe-bar-disabled{
  display: none;
}
.single-event-content .tribe-events-cost {
    font-weight: 700;
    background: #eee;
    border: 1px solid #ddd;
    display: block;
    padding: 5px 10px;
    text-align: center;
    line-height: 1.3;
    font-style: normal;
    text-overflow: ellipsis;
    float: left;
    margin-top: 10px;
}
.single-event-content abbr{
  border-bottom: none;
}
#tribe-events-content-wrapper{
  margin-top:  50px;
}
.epad {
	margin-bottom: 40px;
}

.clear {
	clear: both;
}
.nav-tabs{
  margin-bottom: 20px;
}
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 0;
}
/*! Flickity v1.1.1
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  filter: alpha(opacity=60); /* IE8 */
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30); /* IE8 */
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}

.event-gallery{
  /*height: 225px;*/
  background-color: #ddd;
  border: #ccc solid 1px;
}
.gallery-item{
  margin: 10px;
}
.tribe-events-ical{
  display: none !important;
}
.nav-tabs > li > a{
  background: #ebebeb;
  border-color: #eeeeee #eeeeee #ddd;

}
.light-bg{
  /*background: #ebebeb;*/
}

.white-bg{
  /*background: white;*/
}
.card{
  /*background: white;
  border-radius: 15px;
  padding: 2%;*/

}
