// Just edit css

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


/*///////////////////////////////////////////////////////// START CSS
////////////////////////////////////////////////////////////////////////////////////////
*/

body {
    // padding-top: 60px;
}
.container-fluid {
    // max-width: 80em;
    max-width: 70em;
    width: 90%;
}
.main_nav {
    background-color: rgba(255, 255, 255, .9);
    // text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 60px;
    padding-top: 7px;
    img {
        height: 35px;
        margin-top: -9px;
    }
}
// .navbar-collapse{
//     font-size:24px;
//
//     li.menu-item a{
//         line-height:1.5;
//         text-align:center;
//         color: #171717;
//         // border-bottom: 1px solid #e2e2e2;
//     }
// }
div {
    // /*border: 1px solid pink;*/
}
.main_header {
    // &:after {
    // 	  content: "";
    // 	  background: url("../img/bg_5.jpg") no-repeat center top;
    // 	background-size: cover;
    // 	  opacity: 1;
    // 	  top: 0;
    // 	  left: 0;
    // 	  bottom: 0;
    // 	  right: 0;
    // 	  position: absolute;
    // 	  z-index: -1;
    // 	  }
    background: rgba(40, 50, 60, .45);
    margin-bottom: 0;
    position: relative;
    .container {
        @extend .center-block;
        // /*width: 30%;*/
        // /*z-index: 3;*/
        // /*background: rgba(255,255,255,0.3);*/
    }
    .logo {
        @extend .center-block;
        text-indent: -10000px;
        overflow: hidden;
        margin-top: 30px;
        max-width: 80%;
        // /*width: auto;*/
        height: 125px;
        background: url("../img/GCB_logo.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        // /*border: 1px solid pink;*/
        // /*opacity: 1;*/
        // /*z-index: 4;*/
    }
}
.blurb {
    text-align: center;
    color: white;
    margin: 25px auto;
    width: 85%;
    max-width: 25em;
    font-weight: 400;
    font-size: 1.2em;
}
.feat_image {
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    z-index: -2;
    position: relative;
    &.frontpage {
        height: auto;
    }
}
.page_header {
    // width: 100%;
    margin-bottom: 0;
    padding: 20px 0;
    background: none;
    color: white;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    &:after {
        content: "";
        // background: $brand-primary;
        background: #111;
        // background-size: cover;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    h1 {
        // display: block;
        font-size: 3em;
    }
}
.main_content,
.page_content {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height:1.5;
    // max-width: 90%;
    // margin-left: auto;
    // margin-right: auto;
    h1 {
        text-transform: uppercase;
        font-size: 2em;
    }
    h2 {
        font-weight: 600;
        border-bottom: 1px solid #d5d5d5;
        padding-bottom:10px;
    }
    h3 {
        font-weight: 400;
    }
    .icon {
        height: 80px;
        opacity: 0.7;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}
.main_footer {
    padding: 100px 0;
    margin-bottom: 0;
    position: relative;
    background: rgba(40,40,40,0.85);
    // /*min-height: 500px;*/
    &:after {
        content: "";
        background: url("../img/bg_4.jpg") no-repeat center center;
        background-size: cover;
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        // background-attachment: fixed;
    }
    .row {
        margin: 0 auto;
        color: white;
        h3 {
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: $brand-primary;
        }
        a {
            color: inherit;
            &:hover,
            &:active,
            &:focus {
                color: inherit;
                text-decoration: underline;
                background: none;
            }
        }
    }
    .footer_nav {
        font-size: 21px;
        line-height: 1em;
        a {
            padding-left: 0;
            color: inherit;
            font-weight: 100;
        }
    }
    .footer_copyright {
        font-size: 1.1em;
        color: $gray-lighter;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
        a {
            color: inherit;
            &:hover {
                // color:$brand-primary;
            }
        }
        .footer_logo img {
            opacity: 0.8;
            width: 10em;
            margin-bottom: 1.5em;
            margin-left: -3px;
            &:hover {
                opacity: 1;
            }
            // text-align: center;
        }
    }
}
.page_content {

}
.contact_us {
    article {
        // margin-bottom: 0;
    }
    aside {
        // margin-top: 0;
    }
    h3 {
        text-transform: uppercase;
    }
}
.wpcf7-form {
    textarea {
        resize: none;
    }
    .btn {

    }
    label {
        font-weight: 400;
    }
}
.contact_aside {
    p {
        font-size: 1.3em;
        font-weight: 300;
    }
}


/////////////////// Tribe Events
.tribe-events-back {
    margin:0;
    padding:10px;
    background-color: #f5f5f5;
    a{
        color: #717171;
        &:hover{
            text-decoration:underline !important;
        }
    }
}
.tribe-events-single-event-description{
    @extend .col-sm-8;
}
.tribe-events-event-meta .tribe-events-meta-group-details {
    border-left: 5px solid #717171;
    background-color: #f5f5f5;
    @extend .col-sm-4;
}
.tribe-events-event-meta-group.tribe-events-meta-group-venue,
.tribe-events-meta-group-map {

    @extend .col-sm-6;
}
