@charset "UTF-8";

.tribe-events-back {
  margin: 0;
  padding: 10px;
  /*background-color: #f5f5f5;*/
}
.tribe-events-back a {
  color: #717171;
}
.tribe-events-back a:hover {
  text-decoration: underline !important;
}

.tribe-events-event-meta .tribe-events-meta-group-details {
  margin-top: 20px;
  width: 100%;
  /*color: #fff;*/
  padding: 0px;

}
.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group{
  margin-bottom: 0;
}
.single-event-content{
  margin-top: 0;
}
.tribe-events-schedule{
  margin: 0 0 25px 0;
}
.tribe-events-schedule h3{
  margin: 0;
  font-size: 1em;
}
#tribe-events .page_content{
  margin-top: 0;
}
.sidebar-details{
  margin: 15px 0 45px 0;
}
.sidebar-details i{
  color: #3e9638;
}
